#snakegame {
  border: 1px solid #000000;
  height: 225px;
  left: 0px;
  margin: auto;
  position: absolute;
  right: 0px;
  text-align: center;
  width: 225px;
}

#snakegame-dead {
  font-size: 10px;
  left: 0px;
  position: absolute;
  right: 0px;
  text-align: center;
  top: 230px;
}
